.table {
  border-collapse: collapse;
  font-size: 1.3rem;
  width: 100%;
  font-family: 'inter', 'sans-serif';
}

.table th,
.table td {
  border: 1px solid black;
  padding: 1rem;
}

.table th {
  text-align: left;
}
.bold-conduit {
  color: brown;
}

@media screen and (min-width: 800px) {
  .table {
    font-size: 2rem;
  }
  .table th,
  .table td {
    padding: 2rem;
  }
}
